h3 {
    display: inline-block;
    border-bottom-style:solid;
    border-color: #abc4a1
}

h1 {background-color: #abc4a1;
}

h4 {color: #abc4a1;}

ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    justify-content: center; /* Centra la lista horizontalmente */
}

ol{
    margin: 0;
    padding: 0;
    justify-content: center; /* Centra la lista horizontalmente */
}
