/* Para dejar espacio y que el footer quede pegado abajo de todo */
body {
    min-height: 100vh; /*altura del dispositivo*/
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto; 
}

/* encabezado */
header {
    display: flex;
    align-items: center;
}
#ciudad-sust {
    color: rgb(74, 146, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20%;
}
#ciudad {
    height: 30%;
    width: 15%;
}
/*fin de encabezado*/

/*principal*/
main {
    margin-left: 5%;
}
/*final*/


/*pie de página*/
footer {
    background-color: rgb(74, 146, 105);
}
.blanco {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pie {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
#cet-pie {
    font-size: large;
}
#imagen-pie {
    height: 68%;
    width: 42%;
}
#texto-pie {
    margin-left: 2%;
}
/* fin de pie */

