/* Para dejar espacio y que el footer quede pegado abajo de todo */
body {
    min-height: 100vh; /*altura del dispositivo*/
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto; 
}



/* encabezado */
header {
    align-items: center;
    justify-content: left;
}
#ciudad-sust {
    color: #8d9d90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20%;
    margin-top: 1%;
}
#ciudad {
    height: 30%;
    width: 15%;
}
#titulo {
    display: flex;
}

/*MENU*/

.menu  {
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 52px;
    z-index: 100;
    padding: 20px;
    background-color: #878e76;
}

ul {
    display: flex;
    list-style: none;
    gap: 0;
}

ul li a:hover {
    color: #797979; /*color del texto*/
    background-color:var(--num);
}

ul li a {
    text-decoration: none;
    color: #ffffff; /*font color*/
    font-size:larger;
    position: relative;
    /*transition: 0.8s all linear;*/
    padding: 0px 7px;
    background-color: #878e76;
}

ul li a::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #8d9d90; /*effect color*/
    z-index: -1;
}

ul li a:hover::before {
    animation: ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes ani {
    0% {
        width: 0%;
        height: 1px;
        left: 50%;
    }

    50% {
        width: 100%;
        height: 1px;
        left: 0;
    }

    100% {
        width: 100%;
        height: 50px;
        left: 0;
    }
}
/*fin de encabezado*/

/*principal*/
main {
    margin-left: 5%;
}
/*final*/

/*pie de página*/
footer {
    background-color: #878e76;
}
.blanco {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pie {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
#cet-pie {
    font-size: large;
}
#imagen-pie {
    height: 68%;
    width: 42%;
}
#texto-pie {
    margin-left: 2%;
}
/* fin de pie */

